.header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header .header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 75px;
}

.header h1{
    font-size: 21.328px;
    font-weight: 700;
    transition: 0.3s;
}

.header a:hover h1{
    color: var(--cor-menu-ativo);
}

.header nav ul{
    display:flex;
    justify-content: space-between;

}
.header nav ul li a{
    font-weight: 400;
    padding: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.header nav ul li .sendo-visualizado{
    text-decoration: underline;
}

.header nav ul li a:hover{
    color: var(--cor-menu-ativo);
    text-decoration: underline;
}

/* responsive */

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
    
}

.header .hamburguer{
    background-color: #000;
    position: relative;
    display:block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before, .header .hamburguer:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%; /* Está como porcentagem pois se eu mudar altura e largura em cima, não preciso alterar aqui. */
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;

}
.header .hamburguer:before{
    top: -10px; /*para dar o efeito de ficar um abaixo do outro*/
}
.header .hamburguer:after{
    bottom: -10px;
}
.header input{
    display: none;
}
.header input:checked ~label .hamburguer{ /*quando o input estiver marcado, vou em label*/
    transform: rotate(45deg);
}
.header input:checked ~label .hamburguer:before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~label .hamburguer:after{
    transform: rotate(90deg);
    top: 0;
}

