html{
    color:(--cor-padrao);
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 5em;
}

body{
    display: flex;
    justify-content: center;
}

main{
    display: grid;
    grid-template-areas:"header"
                        "home"
                        "sobre"
                        "projetos"
                        "footer";

    grid-template-columns: repeat(1, 1fr);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 60px;
    width: 1200px;
}

.header{
    grid-area: header;
    background-color: var(--background);
}

/* Home */

.home{
    grid-area: home;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.home p{
    font-size: 28.83px;
}

.home span{
    font-size: 36.49px;
    font-weight: 700;
}

.home img{
    width: 35%;
}

.home .social{
    display: flex;
    flex-direction: column; 
}

.home .social .social-sobre{
    margin: 40px 0;   

}

.home .social .social-sobre a{
    border-radius: 50px;
    padding: 10px 30px;
    border-style: solid ;
    font-size: 20.25px;
}

.home .social .social-sobre a:hover{
    color: var(--cor-ativo);
    background-color: var(--cor-bg-ativo);
}

.home .social .icone-social{
    display: flex;
    justify-content: center;
    font-size: 28.83px;
}

.home .social .icone-social a{
    margin: 10px;
    
}

.home:after{
    content: url('../images/seta_preta.png');
    height: 35px;
    bottom: 40px;
    right: 600px; 
    position: absolute; /*Caso não houvesse o elemento pai relative, ele ficaria absoluto em relação a todos os demais elementos, por isso colocamos o elemento pai relativo*/
    animation: downarrow 0.6s infinite alternate ease-in-out;

}

@-webkit-keyframes downarrow{
    0% { -webkit-transform:translateY(0); opacity: 0.4;}
    0% { -webkit-transform:translateY(0.4em); opacity: 0.9;}
}

/*SOBRE*/

.sobre{
    grid-area: sobre;
    display: grid;
    background-color: #fff;
    max-width: var(--max-width-size);
    margin: 0;
    flex-wrap:wrap;
    height: 92vh;
}
.sobre .sobre-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sobre .sobre-container .perfil{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.sobre .sobre-container .perfil img{
    position: absolute;
    width: 100%;
}
.sobre .sobre-container .sobre-informacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.sobre .sobre-container .sobre-informacao h3{
    font-weight: 700;
    font-size: 28.43px;
}

.sobre .sobre-container .sobre-informacao p{
    font-weight: 400;
    font-size:16px;
    margin: 30px 0;
    
}
.sobre .sobre-container .sobre-informacao .hard-skills{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
}
.sobre .sobre-container .sobre-informacao h2{
    margin-bottom: 20px;
}
.sobre .sobre-container .sobre-informacao .hard-skills img{
   margin: 0 20px;
   
    

}

/*PROJETOS*/

.projetos{
    grid-area: projetos;
    display: grid;
    height: 92vh;
}

.projetos .projetos-container .projeto-informacoes{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 20px 0;
}

.projetos .projetos-container .projeto-informacoes .projeto{
    display: flex;
    width: 100%;
    justify-content: space-between;
  
}
.projetos .projetos-container .projeto-informacoes .projeto a{
    width: 45%;
}
.projetos .projetos-container .projeto-informacoes .projeto img{
    width: 100%;
    border-radius: 20px;

    
}
.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto{
  margin: 20px;
  width: 40%;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .tecnologias-usadas{
    margin-bottom: 40px;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .tecnologias-usadas img{ 
    width: 30px;
    height: 30px;

}
.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto p{
    margin: 20px 0;
}

.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .visite-projeto {
    border-style: solid;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    
}
.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .codigo-projeto{
    width: 30px;
    height: 30px;
}
.projetos .projetos-container .projeto-informacoes .projeto .descricao-projeto .visite-projeto:hover{
    color: var(--cor-ativo);
    background-color: var(--cor-bg-ativo);
}
.footer{
    grid-area: footer;
   
}
.footer h4{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.footer nav{
    margin: 50px 0;
}
.footer nav ul{
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a{
    font-weight: 500;
    font-size: 2px;
    margin: 20px;
}

.footer nav ul li a:hover{
    font-weight: 700;
    color: #fff;
}

.footer .social i{
    font-size: 2px;
    transition: 0.3s;
}

.footer .social a{
    margin: 20px;
}

.footer .social a:hover{
    color: #fff;
}